body{
    font-family: 'Exo 2', sans-serif;
    background:#eceff1;
  }
  
  
  h1{
    color:white;
    font-weight:900;
    margin-top: 0;
  }
  h4{
    color:white;
  }
  .winnersgraph{
    width: 90%;
    position: relative;
    margin: 10px auto;
    padding: 0;
  }
  #winners{
    width: 100%;  
  }
  .winners-list{
    margin-bottom: 0;
    padding: 40px 0;
  }
  .winners-list dt, .winners-list dd{
    margin: 0;
  }
  .winners-list dt{
    color:white;
    font-size:1.2em;
    font-weight:400;
    letter-spacing:0.05em;
  }
  .winners-list dd{
    color:#78909c;
    font-size:0.90em;
  }