
<div class="container-fluid">
<div class="row container-row">
        <div class="col-sm-12 col-md-12 col-lg-5 container-left-side">
                        <img class="container-img img-fluid mx-auto" src="../images/marginalia-sign-in.png">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-7">
        <div class="form">
                <form class="form-login align-middle " action = "/users/signup" method="POST"> 
                        <label> First Name 
                                <input type ="text" aria-placeholder="First Name" name ="firstname">
                        </label>
                        <label> Last Name
                                <input type ="text" aria-placeholder="Last Name" name ="lastname">
                        </label>
                        <label> Employee ID
                                <input type ="text" aria-placeholder="Employee ID" name ="eid">
                        </label>
                        <label> Select a Password
                                <input type ="password" aria-placeholder="Set your Password" name ="password">
                        </label>
                        <button type = "submit"> Sign Up</button>
                </form> 
        </div>
        </div>
</div>
</div>





