<nav class="nav">
    <div class="logo"></div>
    <ul class="nav-list">
        <li><p>Mulk Abduladi</p></li>
        <li><p>The Team</p></li>
    </ul>
    <div  id="navButton" class="nav-desktop">
    <div class="nav-hamburger">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar2"></div>
    </div>
    
    </div>
     </nav>
     <div class="timesheet">
         <div class="timesheet-form">
             <form  name="Clock "action="/add" method="POST">
                    <button type="submit" name="starttime">Clock In</button>
             </form>
             <form  name="Clock "action="/add_timeOut" method="POST">
                <button type="submit" name="endtime">Clock Out</button>
         </form>
         </div>
     </div>
<script>
    $("#navButton").click(function(){
        console.log("this occured");
        $("#navButton").toggleClass("nav-desktop");
    });
</script>
