<ul>
    ${timedata.map(timepunch =>`
    
        <li> <a href ="./${timepunch.id}" > ${timepunch.starttime} </a> </li>
        `).join('')}
    
    </ul>

    <form class='timesheet' id='timesheet'>
        <table id='t01'>
                <tr>
                  <th>10/21</th>
                  <th>10/22</th> 
                  <th>10/23</th>
                  <th>10/24</th>
                  <th>10/25</th>
                  <th>10/26</th>
                  <th>10/27</th>
                </tr>
                <tr>
                  <td>
                    <p>Clock-in: <input type='text' name='hours' value='08:01 AM' width='3' height='2'></p>
                  </td>
                  <td>
                    <p>Clock-in: <input type='text' name='hours' value='08:02 AM' width='3' height='2'></p>
                  </td>
                  <td>
                    <p>Clock-in: <input type='text' name='hours' value='08:03 AM' width='3' height='2'></p>
                  </td>
                  <td>
                    <p>Clock-in: <input type='text' name='hours' value='08:04 AM' width='3' height='2'></p>
                  </td>
                    <td>
                    <p>Clock-in: <input type='text' name='hours' value='08:05 AM' width='3' height='2'></p>
                  </td>
                  <td>
                    <p>Clock-in: <input type='text' name='hours' value='08:06 AM' width='3' height='2'></p>
                  </td>
                  <td> 
                    <p>Clock-in: <input type='text' name='hours' value='08:07 AM' width='3' height='2'></p>
                  </td>                                                            
                </tr>
                <tr>
                  <td>
                    <p>Clock-out: <input type='text' name='hours' value='05:00 PM' width='3' height='2'></p>
                  </td>
                  <td>
                    <p>Clock-out: <input type='text' name='hours' value='05:00 PM' width='3' height='2'></p>
                  </td>
                  <td>
                    <p>Clock-out: <input type='text' name='hours' value='05:00 PM' width='3' height='2'></p>
                  </td>
                  <td>
                    <p>Clock-out: <input type='text' name='hours' value='05:00 PM' width='3' height='2'></p>
                  </td>
                  <td>
                    <p>Clock-out: <input type='text' name='hours' value='05:00 PM' width='3' height='2'></p>
                  </td>
                  <td>
                    <p>Clock-out: <input type='text' name='hours' value='05:00 PM' width='3' height='2'></p>
                  </td>
                  <td>
                    <p>Clock-out: <input type='text' name='hours' value='05:00 PM' width='3' height='2'></p>
                  </td>                                                            
                </tr>
                <tr>
                  <td>
                    <p>Total Hours: <input type='text' name='hours' value='8.05' readonly></p>
                  </td>
                  <td>
                    <p>Total Hours: <input type='text' name='hours' value='8.05' readonly></p>
                  </td>
                  <td>
                    <p>Total Hours: <input type='text' name='hours' value='8.05' readonly></p>
                  </td>
                  <td>
                    <p>Total Hours: <input type='text' name='hours' value='8.05' readonly></p>
                  </td>
                  <td>
                    <p>Total Hours: <input type='text' name='hours' value='8.05' readonly></p>
                  </td>
                  <td>
                    <p>Total Hours: <input type='text' name='hours' value='8.05' readonly></p>
                  </td>
                  <td>
                    <p>Total Hours: <input type='text' name='hours' value='8.05' readonly></p>
                  </td>                                                            
                </tr>                            
              </table>
    
    </form>