<nav class="nav">
         <div class="logo"></div>
         <ul class="nav-list">
             <li><p>Mulk Abduladi</p></li>
             <li><p>The Team</p></li>
         </ul>
      <div  id="navButton" class="nav-desktop">
          <div class="nav-hamburger">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar2"></div>
          </div>
         
      </div>
     </nav>
     <div class="timesheet">
         <div class="timesheet-form">
             <form  name="ClockIn "action="/add" method="POST">
                <label>
                        StartTime
                        <input type="text" name="starttime" aria-placeholder="12:45"/>
                    </label>
                    <button type="submit">Send Time</button>
             </form>
         </div>
     </div>
     <script>
            $("#navButton").click(function(){
                console.log("this occured");
                $("#navButton").toggleClass("nav-desktop");
            });
</script>
